* {margin:0;padding:0;box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box;} 
*:before, *:after {box-sizing: border-box;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box;}
html {height: 100%;}
body {color: #000000;min-height: 100%;font: 15px 'Roboto', Arial, Arial, Helvetica, sans-serif;font-weight: 400;overflow-x: hidden;    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
p {font-weight: 400;}
a {
    color: inherit;
    text-decoration: none;
}
figure {
    margin: 0;
}
img {
    vertical-align: top;
    max-width: 100%;
}
button, input, textarea, select {cursor: pointer;}
footer, nav, header, section, aside, article, hgroup, main {display: block;}
#sb-site {overflow-x: hidden;}
.font-bold {font-weight: 700;}
.font-light {font-weight: 300;}
.container {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  clear: both;
}
.container:after {
  content: "";
  display: table;
  clear: both;
 }
 .sb-site_left {
  position: fixed;
  left:0;
  top:0;
  bottom: 0;
  background: #15428E;
  z-index: 10;
  width: 100px;
  color: #bbc7ea;
 }
 nav.fixed {
  position: fixed;
  top: 90px;
  left:0;
  width: 100px;
  background: #15428E;
  z-index: 10;
 }
  nav.mobile {
  position: absolute;
  top: 80px;
  right: 0;
  width: 0;
  overflow-x: auto;
  background: #15428E;
  z-index: 10;
 }
 .sb-site_right {
  margin-left: 100px;
 }
 .logo-block {
  width: 100%;height: 90px;border-bottom: 1px solid #0C3373;display: table;
 }
.logo-block a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    background: url(../img/bellis_logo_white.svg) center center no-repeat;
    background-size: 54px 58px;
  }
.main-nav li a {
  display: block;
  padding: 40px 10px 22px 10px;
  font-size: 12px;
  text-align: center;
  position: relative;
}
.main-nav li a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  background: #0C3373;
  height: 1px;
  width: 72px;
  margin: auto;
}
.main-nav li:last-child a:after {
  display: none;
}
.main-nav_icon {display: block;position: absolute;top: 0;height: 37px;left:0;right: 0;}
.main-nav_icon svg {position: absolute;bottom: 0;left:0;right:0;margin: auto;}
.main-nav li.company .main-nav_icon svg {width: 20px;height: 13px;}
.main-nav li.accreditation .main-nav_icon svg { width: 26px;height: 25px;bottom: -4px;}
.main-nav li.news .main-nav_icon svg {width: 35px;height: 29px;bottom: -4px;}
.main-nav li.faq .main-nav_icon svg {width: 17px;height: 17px;}
.main-nav li.documents .main-nav_icon svg { width: 16px;height: 20px;}
.main-nav li.contacts .main-nav_icon svg {width: 18px;height: 18px; bottom: -3px;}
.main-nav li {position: relative;color: #bbc7ea;}
.cls-company {fill:none;stroke:#658AD4;stroke-miterlimit:10;stroke-width:6px;}
.cls-acc {fill:#658AD4;}
.st-news{fill:none;stroke:#658AD4;stroke-width:18;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:40;}
.cls-faq circle {stroke: #658AD4}
.cls-faq path {fill: #658AD4}
.cls-contacts {fill:none;stroke:#658AD4;stroke-width:6;stroke-miterlimit:10;}
.main-nav li:hover .cls-company, .main-nav li.active .cls-company, .main-nav li:hover .st-news, .main-nav li.active .st-news, .main-nav li.active .cls-faq circle, .main-nav li:hover .cls-faq circle, .main-nav li.active .cls-contacts, .main-nav li:hover .cls-contacts {stroke:#ffffff;}
.main-nav li:hover .cls-acc, .main-nav li.active .cls-acc, .main-nav li.active .cls-faq path, .main-nav li:hover .cls-faq path {fill:#ffffff;}
.main-nav li:hover a, .main-nav li.active a {color: #ffffff;}
.main-nav li.active {background: #042B6B;}
.main-nav li:hover, .main-nav li:hover a:after, .main-nav li:hover:before {background: #3E67B7;}
.main-nav li:hover:before {position: absolute;content: "";height: 1px;width: 100%;top:-1px;left:0;right:0;}
.main-nav li.active:hover, .main-nav li.active:hover a:after, .main-nav li.active:hover:before {background: #042B6B;}
.catalog-nav {display: -webkit-flex;
  display: -ms-flex;
  display: flex;  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;  
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;height: 68px;width: calc(100% - 100px);}
.catalog-nav li {vertical-align: middle;height: 100%;position: relative;color: #364267;}
.catalog-nav li .submenu {display: none;position: absolute; z-index: 8;top: 68px;left: 0;width: 350px;background: #FFFFFF;
    padding: 0 20px;}
.catalog-nav li .submenu li a {display: block;padding: 10px 0;border-bottom: 1px solid #EAEDF1;color: #364267;}
.catalog-nav li:hover .submenu li a {color: #364267;}
.catalog-nav li .submenu li:hover a {color: #9b9da6}
.catalog-nav li .submenu li a:after {display: none;}
.catalog-nav li .submenu li {    display: block;
    float: none;
    height: auto;}
.catalog-nav li .submenu li:last-child a {border-bottom: none;}
.catalog-nav li:hover > .submenu {display: block;}
.catalog-nav li:first-child .submenu:before {position: absolute;content:"";left:-20px;width: 20px;background: #fff;top:0;bottom: 0;height: 100%;}
.lang-nav {float: right;height: 68px;width: 100px;display: table;}
.lang-nav_list, .lang-nav_search, .lang-nav_list li {display: table-cell;vertical-align: middle;}
.catalog-nav li { margin-right: 14px;height: 68px;float: left;}
.catalog-nav li a {font-size: 12px;display: table;height: 100%;padding: 10px 14px;font-weight: 700;text-transform: uppercase;color: #364267;position: relative;}
.catalog-nav li a span {font-weight: 700;display: table-cell;vertical-align: middle;height: 100%;}
.catalog-nav li a:after {position: absolute;content:"";right: 0;top:0;bottom: 0;margin: auto;background: url(../img/arrow.svg) center center no-repeat;background-size: 7px 5px;width: 7px;height: 6px;}
.catalog-nav li:hover a {color: #9b9da6;}
.catalog-nav li:hover a:after {background: url(../img/arrow-hover.svg) center center no-repeat;background-size: 4px 6px;}
.lang-nav_search {position: relative;}
#search_form {position: absolute;height: 42px;top: 0;bottom: 0;margin: auto;right: 0;z-index: 11;overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
  }
.search-btn {width: 38px; height: 100%;background: url(../img/search.svg) center right no-repeat;cursor: pointer;background-size: 21px 21px;} 
.lang-nav_list li {text-transform: uppercase;color:#949aaa;font-size: 12px; padding-left: 8px;}
.lang-nav_list li a {text-decoration: underline;text-decoration-color: #949aaa;display: block;color: #2c448b;}
.lang-nav_list li.current {color: #949aaa;}
.lang-nav_list li:hover a{color: #4e67b3;text-decoration: none;}
.main-index {height: 420px;background: url(../img/slider.jpg) center center no-repeat;background-size: cover;}
.main-index_intro {display: table;width: 100%;height: 100%;}
.main-index_cell {display: table-cell;vertical-align: middle;height: 100%;padding-left: 75px;}
.main-index_title {font-weight: 700; font-size: 52px;line-height: 54px;color: #fff;text-transform: uppercase;}
.main-index_overlay {height: 420px;background: rgba(0,0,0,0.7);}
.main-index_introtext {font-weight: 300;color: #fff;font-size: 29px;}
.icons-block_list li {border-bottom: 1px solid #E7E7E7;border-right: 1px solid #E7E7E7;display: table;float: left;width: 25%;height: 122px;}
.icons-block_list li:nth-child(4n) {border-right: none;}
.icons-block_list li span {display: table-cell;vertical-align: middle;height: 100%;}
.icons-block_list li .icons-block_cell {width: 77px;text-align: center;padding-left: 16px;}
.icons-block_list li .icons-block_title { line-height: 18px;color: #364267;text-transform: uppercase;padding: 0 17px;font-weight: 700; font-size: 12px;}
.icons-block_list li .icons-block_cell svg, .st1  {fill: #00D9FF;stroke:#00D9FF;}
.icons-block_list li:hover {background: #00CFFF;}
.icons-block_list li:hover .icons-block_title {color: #fff;}
.icons-block_list li:hover .icons-block_cell svg, .st1  {fill: #ffffff;stroke:#ffffff;}
.icons-block_list li a {display: table-row;}
.news-block {clear: both;padding-top: 65px;max-width: 1140px;margin-left: auto;margin-right: auto;margin-bottom: 50px;}
.news-block_right {margin-left:59.65%;}
.news-block_left {float: left; width: 40.35%;padding-left: 8px;}
.blocktitle {color: #737373;font-weight: 700;text-transform: uppercase; margin-bottom: 10px;font-size: 12px;line-height: 25px;}
.news-thumb { width: 160px;height: 85px;display: table-cell;vertical-align: top;}
.news-thumb img {box-shadow: 10px 10px 25px #F4F4F4, -10px 0 25px #F4F4F4;}
.news-content {display: table-cell;vertical-align: middle;padding-left: 26px;}
.news-block_list li {display: table;margin-bottom: 20px;}
.news-content_date {color: #a3a3a3;font-weight: 700;font-size: 12px;position: relative;padding-left: 20px;}
.news-content_date:before {position: absolute;content:"";left: 0;bottom: 0;top:0;margin: auto;height: 13px;width: 13px;background: url(../img/calendar.svg) center center no-repeat;background-size: 13px 13px;}
.news-content_title {color: #2288d0;font-weight: 300; line-height: 20px;font-size: 18px;margin: 10px 0;}
.news-content_title:hover a {color: #68b1e4;}
.production-list {margin-bottom: 30px;}
.production-list_title {font-weight: 700;margin-bottom: 6px;font-size: 18px; line-height: 25px;}
.production-list_items li a {color: #2288cf;font-weight: 300;text-decoration: underline;display: block; line-height: 25px;}
.production-list_items li:hover a{color: #68b1e4;text-decoration: none;}
.news-block_list {padding-top: 6px;}
footer {background: #F7F7F7;}
.footer-nav_flex {max-width: 1140px; padding: 40px 20px 0 20px;margin: auto;position: relative;}
.footer-nav_flex:after {background: #E8E8E8;height: 1px;left:0;right: 0;margin: auto;bottom: 0;content:"";position: absolute;width: calc(100% - 40px);}
.footer-info_list {clear: both;padding: 36px 20px;max-width: 1140px;margin: auto;display: -webkit-flex;
  display: -ms-flex;
  display: flex;  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;  
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;color: #6d6d6d;}
.footer-info_list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;  
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.footer-info_list li:first-child {width: 445px; margin-right: 28px;float: left;}
.footer-info_list li:nth-child(2) { float: left;width: 180px;}
.footer-info_list li:nth-child(3) { float: left;width: 190px;}
.footer-info_list li:nth-child(4) { width: 250px;}
.footer-info_list li p {line-height: 24px;}
.copyright {background: #EFEFEF;padding: 16px 0;font-size: 11px;}
.copyright .container {max-width: 1140px;margin: auto;color: #919191;text-transform: uppercase;font-weight: 300;}
.search_query_footer {    padding: 10px 15px;background: #fff;border-radius: 36px;border: 1px solid #E7E7E7;width: 100%;}
#search_footer {width: 100%;display: block;}
#search_footer ::-webkit-input-placeholder, #search_form ::-webkit-input-placeholder {color: #bcbcbc; font-family: 'Roboto';font-weight: 400;font-size: 15px;}
#search_footer ::-moz-placeholder, #search_form ::-moz-placeholder {color: #bcbcbc; font-family: 'Roboto';font-weight: 400;font-size: 15px;}
#search_footer :-moz-placeholder, #search_form :-moz-placeholder {color: #bcbcbc; font-family: 'Roboto';font-weight: 400;font-size: 15px;}
#search_footer :-ms-input-placeholder, #search_form :-ms-input-placeholder {color: #bcbcbc; font-family: 'Roboto';font-weight: 400;font-size: 15px;}
.search_query_footer:focus, #search_form .search_query:focus {outline: none;}
#search_footer .search_query_footer:focus ::-webkit-input-placeholder, #search_form .search_query:focus ::-webkit-input-placeholder {color: #000000; font-family: 'Roboto';font-weight: 400;font-size: 12px;}
#search_footer .search_query_footer:focus ::-moz-placeholder, #search_form .search_query:focus ::-moz-placeholder {color: #000000; font-family: 'Roboto';font-weight: 400;font-size: 12px;}
#search_footer .search_query_footer:focus :-moz-placeholder, #search_form .search_query:focus :-moz-placeholder {color: #000000; font-family: 'Roboto';font-weight: 400;font-size: 12px;}
#search_footer .search_query_footer:focus :-ms-input-placeholder, #search_form .search_query:focus :-ms-input-placeholder {color: #000000; font-family: 'Roboto';font-weight: 400;font-size: 12px;}
.btn-search_footer {display: none;}
.footer-nav_flex li {margin-right: 30px;margin-bottom: 30px;display: inline-block;;vertical-align: top;width: 250px;}
.footer-nav_flex li:nth-child(4) {margin-right: 0;width: 245px;}
.footer-nav_flex li:nth-child(2) {width: 245px;}
.footer-nav_flex li:nth-child(3) {width: 245px;}
.footer-nav_flex li p.itemtitle {color: #6d6d6d;font-weight: 700;margin-bottom: 20px;font-size: 15px;}
.footer-nav_flex li p {font-size: 12px;color: #6d6d6d;margin-bottom: 10px;}
.footer-nav_flex li p.itemtitle.itemtitle_padd {margin-top: 40px;}
.footer-nav_flex li p:hover a {color: #2c448b;}
.icons-block {max-width: 1400px;margin: auto;}
.search_query {display: block;padding: 10px 15px 10px 40px;background: #fff;border-radius: 36px; border: 1px solid #E7E7E7; width: 100%;}
.btn-search {position: absolute; z-index: 12;width: 12px;height: 12px;top: 0;bottom: 0;margin: auto;background: url(../img/search.svg) center center no-repeat;background-size: 12px 12px;border: none;left: 20px;}
#search_form.visible {opacity: 1;overflow: visible;width: 450px;}
.search-close {position: absolute;z-index: 12;width: 30px;height: 30px;right: 5px;top:0;bottom: 0;margin: auto;cursor: pointer;}
.btn-search:focus {outline: none;}
.search-close:after, .search-close:before {
  position: absolute; content:"";left:0;right:0;top:0;bottom: 0;margin: auto;
  background: #CCCCCC;width: 2px;height: 7px;}
.search-close:after, .btn-reset:after {    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
.search-close:before, .btn-reset:before {-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
  .search-btn_mobile {display: none;}
.btn-reset {opacity: 0;width: 30px;height: 30px;top: 0;bottom: 0;margin: auto;position: absolute; right: 40px; background: #fff;border: none;background: #FFFFFF url(../img/close.svg) center center no-repeat;
-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn-reset:focus {outline: none;}
.btn-reset.show {opacity: 1;}
.catalog-nav_mobile {display: none;}
#menu {display: none;}
nav.mobile .main-nav {display: table;width: 100%;overflow-x: auto;background: #15428E;border-top: 1px solid #0C3373;}
nav.mobile .main-nav li {display: table-cell;} 
nav.mobile .main-nav li a:after {display: none;} 
.pagetitle-intro {background: url(../img/about_bg.jpg) center center no-repeat;background-size: cover;}
.pagetitle-intro_overlay {padding: 40px 0;background: rgba(0,0,0,0.8);}
.pagetitle {font-size: 42px;color: #FFFFFF;margin-bottom: 10px;}
.breadcrumbs li {display: inline-block;vertical-align: top;}
.breadcrumbs li a {color: #7385be;text-decoration: underline;position: relative;padding: 2px 16px 4px 10px;font-size: 13px;display: block;}
.breadcrumbs li:first-child a {padding-left: 0;}
.breadcrumbs li a:after {position: absolute;content: "";right: 0;top:0;bottom: 0;margin: auto;z-index: 2;width: 4px;height: 6px;background: url(../img/breadcrumbs.svg) center center no-repeat;background-size: 4px 6px;}
.breadcrumbs li:hover a {color: #9faddd;text-decoration: none;}
.breadcrumbs li span {color: #FFFFFF;font-size: 13px;display: block;padding: 2px 0 4px 10px;}
.content-inner {margin-top: 40px;}
.content-inner .container, .pagetitle-intro .container {max-width: 1140px;}
.content-inner_right {float: right;width: 346px;background: #F7F7F7;padding: 15px 30px;}
.inner-nav_title, .inner-nav li a.active {font-size: 12px;text-transform: uppercase;font-weight: 700;color: #9b9da6;padding: 15px 0;padding-left: 20px;background: url(../img/breadcrumbs.svg) left center no-repeat;background-size: 4px 6px;border-bottom: 1px solid #E8E8E8;}
.inner-nav li a {display: block;padding: 15px 0;color: #374367;text-transform: uppercase;border-bottom: 1px solid #E8E8E8;font-size: 12px;}
.inner-nav li:last-child a {border-bottom: none;}
.inner-nav li:hover a {color: #9b9da6;}
.content-inner_text {margin-right: 376px;}
.text-page p, .text-page li, .text-page ol, .text-page ul {margin-bottom: 20px;}
.text-page h2, .text-page h3, .text-page h4 {margin-bottom: 30px;font-size: 18px;font-weight: 700;}
.content-inner_list {display: -webkit-flex;
  display: -ms-flex;
  display: flex;  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;  
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
   -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;padding-top: 20px;}
.content-inner_list li {width: 32%;border: 2px solid #F0F0F0;height: 128px;text-align: center;padding: 10px 26px;display: table;}
.content-inner_list li span {display: table-cell;vertical-align: middle;}
.text-page ul li {position: relative;padding-left: 15px;}
.text-page ul li:before {background: #B0B0B0;width: 3px;height: 3px;top: 9px;left:0;content: "";position: absolute;}
.text-page ul.content-inner_list li {padding-left: 26px;}
.text-page ul.content-inner_list li:before {display: none;}
#scrollbar.fixed {z-index: 12;position: fixed;top: 20px;}
.contacts-title {font-weight: 700;margin-bottom: 26px;font-size: 18px;margin-top: 30px;}
.workers-list {padding-bottom: 10px;border-bottom: 1px solid #EBEBEB;}
.workers-list li {display: inline-block; vertical-align: top; width: 345px;margin-bottom: 26px}
.workers-list li:nth-child(2n) {margin-left: 30px;}
.workers-thumb {float: left;width: 120px;}
.workers-intro {margin-left: 136px;}
.worker-position {font-size: 15px;color: #adadad;margin-bottom: 10px;} 
.worker-name {font-weight: 700;font-size: 21px;margin-bottom: 10px;}
.worker-phone {margin-bottom: 10px;}
.worker-email, .worker-skype {color: #2288d0;text-decoration: underline; padding: 2px 0 5px 30px;}
.worker-email a, .worker-skype a {position: relative;}
.worker-skype a:before {position: absolute;content:"";top:0;bottom: 0;margin: auto;left: -30px;width: 16px;height: 16px;background: url(../img/skype.svg) center center no-repeat;background-size: 16px 16px;}
.worker-email a:before {position: absolute;content:"";top:0;bottom: 0;margin: auto;left: -30px;background: url(../img/mail.svg) center center no-repeat;background-size: 16px 12px;width: 16px;height: 12px;}
.contacts-nav {display: table;margin-bottom: 30px;}
.contacts-nav li {padding-left: 20px;margin-bottom: 0;}
.contacts-nav li {display: table-cell;font-size: 12px;background: #F7F7F7;border-right: 2px solid #FFFFFF;padding: 16px 20px;color: #364267;font-weight: 700;text-transform: uppercase;}
.contacts-nav li a {border-bottom: 1px dashed #364267}
.contacts-nav li.active {color: #9b9da6;}
.contacts-nav li.active a, .contacts-nav li:hover a  {border-bottom: none;}
.contacts-nav li:hover {color: #4e67b3;}
#contacts-map {margin-bottom: 100px;}
.map {position: relative;margin-top: 26px;}
.btn-map_intro {position: absolute;width: 35px;-z-index: 12;left:20px;top:20px;}
.btn-map_intro .btn-map_walk, .btn-map_intro .btn-map_car {cursor: pointer;width: 100%;height: 35px;background: #15428E;display: table;text-align: center;}
.btn-map_walk span, .btn-map_car span {vertical-align: middle;display: table-cell;}
.btn-map_walk.active,  .btn-map_car.active {background: #FFFFFF;}
.btn-map_walk.active svg,  .btn-map_car.active svg {fill: #A9ABAB;}
.btn-map_walk:hover, .btn-map_car:hover {background: #3E67B7}
.btn-map_walk span svg, .btn-map_car span svg, .btn-map_walk:hover svg, .btn-map_car:hover svg {fill: #FFFFFF;}
.content-inner_text #contacts-map p.contacts-title {margin-bottom: 20px;}
#scrollbar_title {display: none;}
#search_form_faq {position: relative;}
.search_query:focus {outline: none;}
.faq-intro {margin-top: 40px;}
.faq-intro_title {font-size: 18px;font-weight: 700;margin-bottom: 30px;position: relative;z-index: 2;}
.faq-intro_title span {font-weight: 700;background: #ffffff;z-index: 3;position: relative;display: inline-block;padding-right: 20px;}
.faq-intro_title:after {position: absolute; height: 1px;content: ""; background: #EBEBEB;left: 30px;right: 0;top:0;bottom: 0;margin: auto;}
.faq-title {cursor: pointer;font-size: 18px;font-weight: 700;color: #2288d0;padding-left: 46px;position: relative;}
.faq-title:before {position: absolute;content: "";left:0;top:0;bottom: 0;margin: auto;width: 25px;height: 25px;background: url(../img/faq.svg) center center no-repeat;background-size: 25px 25px;}
.faq-title span {border-bottom: 2px dashed #2288d0;font-weight: 700;}
.faq-title.open {color: #000000;}
.faq-answer {padding-left: 46px;height: 0;overflow: hidden;-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;opacity: 0;font-size: 14px;}
.faq-answer.show {height: auto;overflow: visible;opacity: 1;padding-bottom: 20px; margin-top: 20px;}
.faq-list {margin-bottom: 46px;}
.faq-list li .faq-title:hover {color: #68b1e4}
.faq-list li .faq-title:hover span, .faq-title.open span {border-bottom: none;}
.faq-list li {margin-bottom: 20px;}
.faq-contacts {margin-top: 26px;border-top: 1px solid #EBEBEB;padding-top: 46px;}
.faq-contacts_title {font-size: 20px;font-weight: 700;margin-bottom: 26px;}
.text-field {padding: 11px 20px;width: 230px; border-radius: 36px;border: 1px solid #E7E7E7;margin-bottom: 20px;}
#faq-form .text-field {max-width: 32%;}
.faq-form_flex {display: -webkit-flex;
  display: -ms-flex;
  display: flex;  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;  
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
   -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;}
.text-field:focus {outline: none;}
#faq-form ::-webkit-input-placeholder {color: #a9a9a9;font-size: 14px;font-family: 'Roboto';font-weight: 400;}
#faq-form ::-moz-placeholder {color: #a9a9a9;font-size: 14px;font-family: 'Roboto';font-weight: 400;}
#faq-form :-moz-placeholder {color: #a9a9a9;font-size: 14px;font-family: 'Roboto';font-weight: 400;}
#faq-form :-ms-input-placeholder {color: #a9a9a9;font-size: 14px;font-family: 'Roboto';font-weight: 400;}
.search_query_footer:focus, #search_form .search_query:focus, .text-field_msg:focus {outline: none;}
.text-field_msg {padding: 11px 20px;width: 100%;height: 170px;resize: none;border-radius: 16px;border: 1px solid #E7E7E7;margin-bottom: 20px;}
.btn-faq {font-weight: 500;background: #00A3EC;color: #FFFFFF;padding: 12px 20px;border: none;border-radius: 36px;width: 170px;text-align: center;-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
.btn-faq:hover {background: #22B2E6}
.btn-faq:active {outline: none;background: #0087C9}
.content-inner_news .news-thumb  {vertical-align: top;width: 220px;height: 143px;display: block;overflow: hidden;position: relative;}
.content-inner_news .news-thumb img, .news-block_list.news-block_text .news-thumb img {max-width: none;position: absolute;top: -200%;bottom: -200%;left:0;right: 0;margin: auto;}
.content-inner_news .news-content_title {line-height: 25px;margin: 16px 0;font-size: 25px;}
.news-block_list.news-block_text .news-thumb {position: relative;width: 160px;height: 90px;overflow: hidden;}
.news-block_list.news-block_text li {width: 48%;display: inline-block;vertical-align: top;}
.news-block_list.news-block_text li .news-content_title {margin: 10px 0;}
.news-block_list.news-block_text li:nth-child(2n) {margin-left: 30px;}
.news-content_introtext {font-size: 15px;color: #515151;}
.content-inner_news .news-block_list li {margin-bottom: 46px;max-width: 730px;}
.pagination-intro {background: #F7F7F7;padding: 20px;margin-bottom: 80px;}
.pagination {text-align: center;padding: 0 45px;position: relative;}
.pagination li.prev {position: absolute;left:0;top:0;bottom: 0;margin: auto;height: 30px;width: 40px;background: #ffffff url(../img/pagination-prev.svg) center center no-repeat;background-size: 4px 6px;}
.pagination li.next {position: absolute;right:0;top:0;bottom: 0;margin: auto;height: 30px;width: 40px;background: #ffffff url(../img/pagination-next.svg) center center no-repeat;background-size: 4px 6px;}
.pagination li {font-weight: 500;font-size: 14px;margin-right: 8px;display: inline-block;vertical-align: top;width: 30px;height: 30px;background: #FFFFFF;-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
.pagination li a {display: table;width: 100%;height: 100%;color: #2288d0;-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
.pagination li:hover {background-color: #00A3EC}
.pagination li:hover a {color: #FFFFFF;}
.pagination li.prev a, .pagination li.next a {display: block;}
.pagination li:active {background: #0087C9}
.pagination li.current a {color: #cbcbcb;}
.pagination li.prev:hover, .pagination li.next:hover, .pagination li.prev:active, .pagination li.next:active {background-color: #FFFFFF;}
.pagination li a span {display: table-cell;vertical-align: middle;}
.contacts-tabs_content {display: none;}
.contacts-tabs_content.active {display: block;}
.quote-block {margin-top: 40px;padding: 26px 34px;background: #F7F7F7;position: relative;}
.quote-block:before {position: absolute;content: "";left:0;top:0;bottom:0;height: 100%;width: 4px;background: #4B4B89}
.text-page p.quote-block {margin-bottom: 36px;}
.text-page_table {margin-bottom: 40px;display: table;width: 100%;}
.text-page_row {display: table-row;background: #FFFFFF;}
.text-page_row:nth-child(2n) {background: #FAFAFA;}
.text-page_cell {display: table-cell;vertical-align: middle;padding: 20px 30px;}
.text-page_cell:nth-child(2n) {border-left: 1px solid #F2F2F2;}
.text-page_title {width: 270px;}
.faq-intro.faq-intro_text {margin-top: 40px;}
.faq-link {float: right;font-size: 13px;color: #2288d0;position: relative;z-index: 3;margin-top:5px;}
.faq-link a {display: inline-block;padding-right: 10px;position: relative;text-decoration:underline;}
.faq-link a:after {width: 4px;height: 6px;position: absolute;content: "";right: 0;top:0;bottom: 0;margin: auto;background: url(../img/arrow-link.svg) center center no-repeat;background-size: 4px 6px;}
.faq-intro.faq-intro_text .faq-intro_title:after {display: none;}
.faq-intro.faq-intro_text .faq-intro_title {font-size: 21px;}
.workers-list_text {border: 1px solid #F0F0F0;padding: 36px 40px;}
.workers-list.workers-list_text li {margin-bottom: 0;width: 100%;}
.workers-list.workers-list_text .worker-name{font-size: 25px;margin-bottom: 0;}
.workers-list.workers-list_text .worker-phone {font-size: 21px;padding-top: 14px;}
.popup-content, .popup-bg {display: none;}
.popup-bg {position: fixed;top:0;bottom: 0;left:0;right: 0;z-index: 16;background: rgba(0,0,0, 0.2);}
.popup-bg.show, .popup-content.show {display: block;}
.popup-content {width: 100%;height: 100%;overflow-y: hidden;background: transparent;position: fixed;z-index: 20;top:auto;left:0;bottom: 0;right: 0;margin: auto;}
.popup-intro {overflow-y: auto;position: relative;max-width: 730px;margin: 50px auto;max-height: calc(100% - 100px);background: #FFFFFF;padding: 50px;}
.reviews-list_logo {width: 220px;height: 160px;float: left;border: 2px solid #F7F7F7;text-align: center;display: table;}
.reviews-list_logo span {display: table-cell;vertical-align: middle;}
.reviews-list_logo span img {max-height: 100%;}
.reviews-list li {min-height: 160px;margin-bottom: 50px;}
.reviews-list_info {margin-left: 255px;}
.reviews-list_name {font-size: 21px;font-weight: 700;}
.reviews-list_position {color: #adadad;font-size: 13px;margin-bottom: 16px;}
.reviews-list_link {margin-top: 16px;cursor: pointer;display: inline-block;color: #2288d0;font-size: 13px;text-decoration:underline;padding-right: 22px;position: relative;}
.reviews-list_link:after {position: absolute;content: "";right: 0;top:0;bottom: 0;margin:auto;background: url(../img/arrow-link.svg) center center no-repeat;background-size: 4px 6px;width: 4px;height: 6px;}
.hidden {overflow-y: hidden;height: 100%;}
.popup-close {cursor: pointer;position: absolute;z-index: 26;top: 16px;right: 16px;width: 30px;height: 30px;}
.popup-close:after, .popup-close:before {width: 2px;height: 12px;position: absolute;content: "";background: #F9323B;top:0;bottom: 0;left:0;right: 0;margin: auto;}
.popup-close:after {    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
.popup-close:before {-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
.popup-close:hover:before, .popup-close:hover:after {background: #FF535C}
.popup-header {width: 220px;height: 161px;border: 2px solid #F7F7F7;margin: 0 auto 30px auto;text-align: center;display: table;}
.popup-header span {display: table-cell;vertical-align: middle;}
.popup-header span img {max-height: 100%}
.popup-title {margin-bottom: 10px;font-size: 21px;font-weight: 700;text-align: center;}
.popup-introtext {font-size: 13px;color: #adadad;text-align: center;margin-bottom: 36px;}
.popup-text p {margin-bottom: 26px;}
.vacancy-list {padding-bottom: 20px;}
.vacancy-list li {border: 1px solid #EAEAEA;margin-bottom: 20px;}
.vacancy-list li.open {background: #F7F7F7}
.vacancy-list_info {height: 0;overflow: hidden;-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;opacity: 0;font-size: 14px;padding-left: 35px;padding-right: 35px;}
.vacancy-list_info.show {height: auto;overflow: visible;opacity: 1;}
.vacancy-list_info p {margin-bottom: 30px;}
.vacancy-list_salary {color: #828282;font-size: 17px;margin-right: 40px;padding-top: 3px;padding-left: 42px;position: relative; display: inline-block;}
.vacancy-list_salary:before {position: absolute;content: "";left:0;top:0;bottom: 0;margin: auto;width: 30px;height: 27px;background: url(../img/wallet.svg) center center no-repeat;background-size: 30px 27px;}
.vacancy-list_position {font-size: 21px;font-weight: 700;float: left; text-align: left;}
.vacancy-list_title {padding: 35px;position: relative;cursor: pointer;text-align: right;}
.vacancy-list_title:after {position: absolute;content: "";right: 35px;top: 0;bottom: 0;margin: auto;width: 11px;height: 6px;background: url(../img/arrow-vac.svg) center center no-repeat;background-size: 11px 6px;}
.vacancy-list_btn {margin-bottom: 35px;cursor: pointer;}
.faq-contacts_introtext {font-size: 14px;margin-bottom: 30px;}
#vacancy-form {max-width: 500px;}
#vacancy-form .text-field {width: 240px;}
#vacancy-form input[type="file"], #vacancy-form_popup input[type="file"] {display: none;}
.btn-vacancy_attach, .btn-vacancy {display: inline-block;vertical-align: top;}
.btn-vacancy_attach label {cursor: pointer;margin-right: 20px;display: block;width: 200px; padding: 13px 40px 13px 25px;background: #EEEEEE;font-size: 13px;position: relative;border-radius: 36px;}
.btn-vacancy_attach label:after {position: absolute;content: "";right: 23px;top:0;bottom: 0;margin: auto;width: 8px;height: 2px;background: #B5B5B5;}
.btn-vacancy_attach label:before {position: absolute;content: "";right: 26px;top:0;bottom: 0;margin: auto;width: 2px;height: 8px;background: #B5B5B5;}
.btn-vacancy {padding: 11px 36px;text-align: center;background: #00BD36;font-size: 16px;font-weight: 500;border: none;border-radius: 36px;color: #FFFFFF;}
.btn-vacancy_attach:hover label {background: #F7F7F7}
.btn-vacancy_attach:active label {background: #E1E1E1}
.text-field_attach.grey {background: #E1E1E1}
.btn-vacancy:hover {background: #00D845}
.btn-vacancy:active {background: #00AA25}
.btn-vacancy:focus {outline: none;}
.btn-vacancy_attach {position: relative;}
.attach-name {position: absolute;bottom: -15px;left:0;right: 0;text-align: center;}
#vacancy-form_popup .popup-title {padding-bottom: 20px;font-size: 29px;}
.popup-intro_vacancy {width: 615px;}
#vacancy-form_popup .text-field {width: 240px;}
#vacancy-form_popup .btn-vacancy {width: 250px;float: right;}
.sticky {
  position: fixed;
  z-index: 8;
}
.stop {
  position: relative;
  z-index: 8;
}
.base-inner_left {float: left; width: 380px;height: 385px;overflow-y: auto;background: #F7F7F7;padding: 20px 15px;}
.base-inner_text {margin-left: 410px;}
.base-results_list li a {display: block;padding: 20px 0 20px 40px;border-bottom: 1px solid #EEEEEE;}
.base-results_list li a.doc {background: url(../img/doc.svg) center left no-repeat;}
.base-results_list li a.pdf {background: url(../img/pdf.svg) center left no-repeat;}
.base-results_list li a.ext {background: url(../img/exs.svg) center left no-repeat;background-size: 26px 20px;}
.desktop-filters li label, .desktop-filters li a {cursor: pointer;display: block;padding-left: 40px;color: #515151;position: relative;}
.desktop-filters ul {padding-left: 20px;}
.desktop-filters li label:before, .desktop-filters li a:before {position: absolute;content: "";left: 16px;top:1px;margin: auto;width: 16px;height: 16px;background: url(../img/folder-close.svg) center center no-repeat;background-size: 16px 16px;}
.desktop-filters li {margin-bottom: 10px;}
.desktop-filters li.base-sub label:after {position: absolute;content: "";top: 5px; left: 0;width: 8px;height: 8px;background: url(../img/base_plus.svg) center center no-repeat;background-size: 8px 8px;}
.desktop-filters input[type="checkbox"]:checked +  label:before, .desktop-filters input[type="checkbox"]:checked + a:before {background: url(../img/folder-open.svg) center center no-repeat;background-size: 16px 16px;}
.desktop-filters ul {opacity: 1;max-height: 0;overflow: hidden;-webkit-transition: linear 0.8s;
    -moz-transition: linear 0.8s;
    -o-transition: linear 0.8s;
    transition: linear 0.8s;}
.desktop-filters ul li:first-child {margin-top: 10px;}
.desktop-filters li > ul.show {opacity: 1;max-height: 1500px;}
.desktop-filters input[type="checkbox"]:checked + label:after {background: url(../img/base_open.svg) center center no-repeat;background-size: 8px 8px;}
.desktop-filters input[type="checkbox"] {display: none;}
.desktop-filters li:last-child {margin-bottom: 0;}
#base-filters {display: none;}
#base-filters .mm-title {position: relative;display: inline-block;padding-left: 25px;}
#base-filters .mm-title:before {position: absolute;content: "";left: 0;top:20px;margin: auto;width: 16px;height: 16px;background: url(../img/folder-open.svg) center center no-repeat;background-size: 16px 16px;}
#base-filters li:before {bottom: 0;top:0;margin:auto;}
@media only screen and (max-height: 565px) {
    .hidden {overflow-y: hidden;height: 100%;width: 100%;}
    .sb-site_right {margin-left: 0;padding-top: 80px;}
    .sb-site_left {width: 100%;bottom: auto;height: 80px;}
    .logo-block {width: 80px;height: 80px;border-bottom: none;}
    .logo-block a {background-size: 42px 45px;}
    .mobile-nav_btn {cursor: pointer;float: right;display: block;background: url(../img/menu.svg) center center no-repeat;background-size: 30px 17px;height: 80px;width: 90px;border-left: 1px solid #0C3373;}
    .mobile-nav_btn.hide {display: none;}
    .mobile-nav_close {cursor: pointer;display: none;float: right;height: 80px;width: 90px;position: relative;border-left: 1px solid #0C3373;}
    .mobile-nav_close:after, .mobile-nav_close:before {position: absolute; content:"";left:0;right:0;top:0;bottom: 0;margin: auto;
  background: #fff;width: 1px;height: 28px;}
  .mobile-nav_close:after {    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
  .mobile-nav_close:before {-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
    .mobile-nav_close.show {display: block;}
    .main-nav {display: table;width: 100%;background: #15428E;border-top: 1px solid #0C3373;}
    nav {opacity: 0; -moz-transition: 0.25s ease-in-out 0.05s;
    -ms-transition: 0.25s ease-in-out 0.05s;
    -webkit-transition: 0.25s ease-in-out 0.05s;
    transition: 0.25s ease-in-out 0.05s;right: 0;width:0;overflow: hidden;}
    nav.visible {opacity: 1;left: 0;width: 100%;-moz-scroll-behavior: smooth;-ms-scroll-behavior: smooth;-webkit-scroll-behavior: smooth;scroll-behavior: smooth;}
    .main-nav li {display: table-cell;}    
    .main-nav li a:after {display: none;}
    .main-nav li:hover .cls-company, .main-nav li.active .cls-company, .main-nav li:hover .st-news, .main-nav li.active .st-news, .main-nav li.active .cls-faq circle, .main-nav li:hover .cls-faq circle, .main-nav li.active .cls-contacts, .main-nav li:hover .cls-contacts {stroke:#658AD4;}
.main-nav li:hover .cls-acc, .main-nav li.active .cls-acc, .main-nav li.active .cls-faq path, .main-nav li:hover .cls-faq path {fill:#658AD4;}
.main-nav li:hover a {color: #bbc7ea;}
.main-nav li.active {background: #042B6B;}
.main-nav li:hover {background: #15428E;}
.main-nav li:hover a:after, .main-nav li:hover:before {background: #0C3373;}
.main-nav li.active:hover, .main-nav li.active:hover a:after, .main-nav li.active:hover:before {background: #042B6B;}
  }
  @media only screen and (max-width: 1262px) {
.catalog-nav li:first-child a {padding-left: 0;}
.catalog-nav li:first-child .submenu {padding-left: 0}
}
@media only screen and (max-width: 1240px) {
  .workers-list li:nth-child(2n) {margin-left: 3%;}
  .workers-list li {width: 48%;}
}
@media only screen and (max-width: 1144px) {
  .icons-block_list li .icons-block_title {padding: 0 5px;}
}
@media only screen and (max-width: 1126px) {
.footer-nav_flex, .footer-info_list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;  
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;  
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
   -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.footer-info_list {padding: 36px 0;}
.footer-nav_flex li, .footer-nav_flex li:nth-child(2), .footer-nav_flex li:nth-child(3), .footer-nav_flex li:nth-child(4), .footer-nav_flex li:first-child, .footer-info_list li:nth-child(2), .footer-info_list li:nth-child(3), .footer-info_list li:nth-child(4) {width: 22%;margin-right: 0;float: none;}
.footer-info_list li:first-child {width: 35%;}
}
@media only screen and (max-width: 1126px) {
  .content-inner_list li {padding: 0 16px;}
  .content-inner_text ul.content-inner_list li {padding-left: 16px;}
}
@media only screen and (max-width: 1042px) {
.icons-block_list li .icons-block_title {font-size: 11px;}
}
@media only screen and (max-width: 1008px) {  
    .workers-list li {width: 345px;}
    .workers-list {width: 100%;overflow-x: auto;}
.workers-list_text {padding: 30px 16px;}
.workers-list_text.workers-list {min-width: 100%;}
.workers-list li:nth-child(2n) {margin-left: 30px;}
  .inner-nav_title {font-size: 15px;}
  .hidden {overflow-y: hidden;height: 100%;width: 100%;}
.icons-block_list li {width: 33.3%}
.icons-block_list li:nth-child(4n) {border-right: 1px solid #E7E7E7;}
.icons-block_list li:nth-child(3n) {border-right: none;}
.sb-site_right {margin-left: 0;padding-top: 80px;}
    .sb-site_left {width: 100%;bottom: auto;height: 80px;}
    .logo-block {width: 80px;height: 80px;border-bottom: none;}
    .logo-block a {background-size: 42px 45px;}
    .mobile-nav_btn {cursor: pointer;float: right;display: block;background: url(../img/menu.svg) center center no-repeat;background-size: 30px 17px;height: 80px;width: 90px;border-left: 1px solid #0C3373;}
    .mobile-nav_btn.hide {display: none;}
    .mobile-nav_close {    cursor: pointer;display: none;float: right;height: 80px;width: 90px;position: relative;border-left: 1px solid #0C3373;}
    .mobile-nav_close:after, .mobile-nav_close:before {position: absolute; content:"";left:0;right:0;top:0;bottom: 0;margin: auto;
  background: #fff;width: 1px;height: 28px;}
  .mobile-nav_close:after {    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
  .mobile-nav_close:before {-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
    .mobile-nav_close.show {display: block;}
    .main-nav {display: table;width: 100%;overflow-x: auto;background: #15428E;border-top: 1px solid #0C3373;}
    nav {opacity: 0; right:0;width: 0;-moz-transition: 0.25s ease-in-out 0.05s;
    -ms-transition: 0.25s ease-in-out 0.05s;
    -webkit-transition: 0.25s ease-in-out 0.05s;
    transition: 0.25s ease-in-out 0.05s;left: 100%;}
    nav.visible {opacity: 1;left: 0;width: 100%;}
    .main-nav li {display: table-cell;} 
    .main-nav li a:after {display: none;}  
    .content-inner_right {float: none;width:100%;margin-bottom: 40px; padding: 0;position: relative;}
     .content-inner_right:before {border-bottom: 1px solid #E8E8E8;position: absolute;content: "";left: -20px;top:0;bottom: 0;height: 100%;width: 20px;background-color: #F7F7F7;}
      .content-inner_right:after {border-bottom: 1px solid #E8E8E8;position: absolute;content: "";right: -20px;top:0;bottom: 0;height: 100%;width: 20px;background-color: #F7F7F7;}
    .content-inner_text {margin-right: 0;}
    .faq_search {margin-top: 41px;}
    .content-inner {margin-top: 0;}
    .inner-nav_title {padding-left: 0;padding-right: 30px;background: url(../img/arrow-inner.svg) center right no-repeat;background-size: 10px 19px;}
    .inner-nav_title.open {background: url(../img/arrow-inner_hover.svg) center right no-repeat;background-size: 20px 10px;}
    .inner-nav {background: #F7F7F7; position: absolute;height: 0;top: 45px;left:-20px;right:0;margin: auto;z-index: 9;overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: calc(100% + 40px);padding: 0 20px;}
    .inner-nav#scrollbar_list {width: 100%;left: 0;}
    .inner-nav.visible {height: auto;}    
    #scrollbar_title {display: block;text-transform: uppercase;
    font-weight: 700;
    color: #9b9da6;
    padding: 15px 0;
    background: url(../img/hamburg.svg) right center no-repeat;
    background-size: 16px 9px;
    border-bottom: 1px solid #E8E8E8;position: relative;}
    #scrollbar.fixed, #scrollbar{position: static;display: none;}
    #scrollbar.content-inner_right:before, #scrollbar.content-inner_right:after {display: none;}
  #scrollbar_title:before {border-bottom: 1px solid #E8E8E8;
    position: absolute;
    content: "";
    left: -20px;
    top: 2px;
    margin: auto;
    bottom: 0;
    height: 100%;
    width: 20px;
    background-color: #F7F7F7;
}
 #scrollbar_title:after {border-bottom: 1px solid #E8E8E8;
    position: absolute;
    content: "";
    right: -20px;
    top: 2px;
    margin: auto;
    bottom: 0;
    height: 100%;
    width: 20px;
    background-color: #F7F7F7;
}
.content-inner_news {margin-top: 40px;}
.popup-intro {margin: 0 auto;width: 100%;max-height: 100%; max-width: none;}
#vacancy-form_popup .text-field {width: 100%;}
.faq-form_flex {display: block;}
#vacancy-form .text-field {width: 100%;display: block;}
.base-inner_left {width: 100%;float: none;padding: 0; height: auto;overflow: hidden;cursor: pointer;position: relative; overflow: visible;}
.base-inner_left:before {position: absolute;left:-20px;top: 0;bottom: 0;margin: auto;height: 100%;background: #F7F7F7;width: 20px;content:"";border-bottom: 1px solid #E8E8E8;}
.base-inner_left:after {position: absolute;right:-20px;top: 0;bottom: 0;margin: auto;height: 100%;background: #F7F7F7;width: 20px;content:"";border-bottom: 1px solid #E8E8E8;}
.base-inner_text {margin-left: 0; margin-top: 20px;}
.base-inner_left .mm-wrapper {overflow-x:hidden;position: absolute;}
#base-filters {display: none;}
#base-filters.show {display: block;z-index: 25;}
.base-inner_left .mm-wrapper.show {display: block;z-index: 12; top: 150px;height: 100%;max-height: calc(100% - 150px);overflow-y: auto;}
  .base-inner_nav {display: none;}
   #scrollbar_title.base-toggle {cursor: pointer;display: block;padding-left: 40px;color: #515151;position: relative;}
   #scrollbar_title.base-toggle:before, #base-filters li:before {position: absolute;content: "";left: 16px;top:1px;margin: auto;width: 16px;height: 16px;background: url(../img/folder-close.svg) center center no-repeat;background-size: 16px 16px;}
    .filters-close {display: none;position: absolute;
    z-index: 26;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;}    
   .filters-close:after, .filters-close:before  {
  position: absolute; content:"";left:0;right:0;top:0;bottom: 0;margin: auto;
  background: #F9323B;width: 2px;height: 28px;}
  .filters-close:after {    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
.filters-close:before {-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
    .filters-close.show {display: block;}
    .mm-wrapper.hidden {position: fixed;}
}
@media only screen and (max-width: 900px) {
 .hidden {overflow-y: hidden;width: 100%;position: fixed;}
  .search-btn {width: 100%;background: url(../img/search_mobile.svg) center center no-repeat;background-size: 19px 19px;}
  .search-btn_mobile {display: block;position: absolute;top: 0;z-index: 14;width: 90px; text-align: center; right: 90px; height: 80px;}
  .search-close {position: fixed;z-index: 12; width: 90px;height: 80px;right: 90px;top: 0;bottom: auto;margin: auto;cursor: pointer;}
.search-close:after, .search-close:before {
  position: absolute; content:"";left:0;right:0;top:0;bottom: 0;margin: auto;
  background: #6C90DA;width: 2px;height: 28px;}
  .search-btn_mobile.hide {display: none;}
  #search_form {display: none;position: fixed;bottom: auto;top: 80px;border-top: 1px solid #0C3373;background: #15428E;padding: 20px;}
  #search_form.visible {display: block;height: 85px;width: 100%;}
  .btn-search {left: 40px;}
  #search_form_faq .btn-search {left: 20px;}
  .lang-nav_search {position: static;}
 .catalog-nav, .lang-nav_search .search-btn, .lang-nav_list {display: none;}
 .lang-nav {display: none;}
 .lang-nav.show, .catalog-nav.show {display: block;} 
  header .mm-wrapper {overflow-x:hidden;position:relative}
  header .container {position: absolute;}
  #menu.show {display: block;}
  header .mm-wrapper.show {display: block;z-index: 12; top: 157px;height: 100%;max-height: calc(100% - 150px);overflow-y: auto;}
  .news-block_right {margin-left: 0;}
  .news-block_left {float: none;padding-left: 0;width: 100%;}
  .footer-nav {display: none;}
  .footer-info_list {display: block;text-align: center;}
  .copyright {text-align: center;}
   .footer-info_list li {display: inline-block;vertical-align: top;}
   .footer-info_list li:nth-child(2), .footer-info_list li:nth-child(3) {width: 150px;}
  .footer-info_list li:last-child {display: none;}
  .footer-info_list li:first-child {display: block;width: 100%;margin-bottom: 40px;}
  .main-index_cell {padding-left: 0;width: 100%;}
  .pagetitle-intro_overlay {text-align: center;padding: 65px 0 50px 0;}
  .text-page_title {width: 40%;}
  nav.mobile {top: 80px !important;}
  .workers-list_mobile {height: 250px;}
  nav.mobile {-moz-scroll-behavior: smooth;-ms-scroll-behavior: smooth;-webkit-scroll-behavior: smooth;scroll-behavior: smooth;}
  .container_workers {padding: 0;}
  .contacts-nav, .contacts-title {padding: 0 20px;}
  .workers-list_mobile li:first-child {padding-left: 20px;}
  .contacts-tabs_content p, .map {padding: 0 20px;}
  .btn-map_intro {left: 40px;}
  }
  @media only screen and (max-width: 890px) {
.news-block_list.news-block_text li {width: 100%;}
.news-block_list.news-block_text li:nth-child(2n) {margin-left: 0;}
#vacancy-form .text-field {width: 100%;}
.product-configuration_content .sb-slidebar {width: 100%;top:0;max-height: 100%;border: none;border-radius:0;}
}
@media only screen and (max-width: 754px) {
#vacancy-form {width: 100%;max-width: none;}
.vacancy-list_position {float: none;margin-bottom: 10px;}
.vacancy-list_title {text-align: left;}
.vacancy-list_title:after {top: 45px;bottom: auto;}
}
@media only screen and (max-width: 752px) {
.faq-form_flex {display: block;}
.text-field {display: block;width: 100%;}
#faq-form .text-field {max-width: none;}
}
@media only screen and (max-width: 702px) {
.content-inner_news .news-thumb, .content-inner_news .news-content {display: block;width: 100%;}
.content-inner_news .news-thumb {margin-bottom: 20px;text-align: center;height: 140px;overflow: hidden;}
.content-inner_news .news-content {padding-left: 0;}
}
@media only screen and (max-width: 695px) {
  .text-page_cell {padding: 16px 20px;}
.icons-block_list li {width: 50%}
.icons-block_list li:nth-child(4n), .icons-block_list li:nth-child(2n) {border-right: none;}
.icons-block_list li:nth-child(3n) {border-right: 1px solid #E7E7E7;}
.icons-block_list li:nth-child(12), .icons-block_list li:nth-child(6) {border-right: none;} 
svg {max-width: 80%;}
}
@media only screen and (max-width: 675px) {
.content-inner_list {display: block;}
.content-inner_list li {width: 100%;}
.pagetitle {font-size: 30px;}
.reviews-list_logo {width: 100px;height: 110px;}
.reviews-list_info {margin-left: 136px;}
.reviews-list_text {height: 70px;overflow: hidden;}
}
@media only screen and (max-width: 576px) {
#vacancy-form_popup .btn-vacancy, #vacancy-form_popup .btn-vacancy_attach {width: 45%}
nav.mobile .main-nav {display: block;-webkit-overflow-scrolling: touch;overflow-x: scroll;}
nav.mobile .main-nav li { -webkit-animation: chapternav-slidein 350ms backwards;
    animation: chapternav-slidein 350ms backwards;}
}
@media only screen and (max-width: 505px) {
.contacts-nav li {display: inline-block;background: #15428E;color: #FFFFFF;margin-right: 4px;}
.faq-link {display: none;}
.content-inner_text ul.contacts-nav li {margin-bottom: 6px;}
.contacts-nav li a {border-color: #FFFFFF;color: #FFFFFF;}
.contacts-nav li.active {background: #F7F7F7;color: #9b9da6;}
.contacts-nav li.active a {color: #9b9da6;}
.pagination li {display: none;}
.pagination li:first-child, .pagination li:nth-child(2), .pagination li:nth-child(3), .pagination li:nth-child(4), .pagination li:last-child {display: inline-block;}
.news-block_list.news-block_text .news-thumb {height: 90px;width: 90px;}
}
@media only screen and (max-width: 475px) {
.popup-content #vacancy-form_popup .btn-vacancy, .popup-content .btn-vacancy_attach, .popup-content .btn-vacancy_attach label {width: 100%} 
.popup-content #vacancy-form_popup .btn-vacancy {float: none;}
.popup-content .btn-vacancy_intro {position: relative; padding-top: 61px;}
.popup-content #vacancy-form_popup .btn-vacancy_attach {position: absolute;top:0;left:0;right: 0;width: 100%;}
.workers-list li {width: 305px;}
}
@media only screen and (max-width: 458px) {
.icons-block_list li .icons-block_title {
    font-size: 9px;
}
.faq-title, .faq-answer {padding-left: 20px;}
.faq-title:before {left: -12px;}
.main-index_title {font-size: 40px;line-height: 42px;}
.main-index_introtext {font-size: 22px;}
.workers-list.workers-list_text .worker-phone {font-size: 15px;padding-top: 0}
.popup-intro  {padding: 30px}
}
@media only screen and (max-width: 420px) {
#vacancy-form .btn-vacancy_attach, #vacancy-form .btn-vacancy, #vacancy-form .btn-vacancy_attach label {display: block;width: 100%}
 #vacancy-form .btn-vacancy {margin-top: 20px;}
}
@media only screen and (max-width: 404px) {
.icons-block_list li .icons-block_cell {padding-left: 0;}
.news-content_title {font-size: 14px;line-height: 14px;}
.workers-list li {width: 205px;}
.worker-position {font-size: 11px;}
.worker-name {font-size: 15px;}
.worker-phone, .worker-email, .worker-skype {font-size: 12px;}
.workers-thumb {width: 70px;}
.workers-intro {margin-left: 80px;}
.workers-list_mobile {
    height: 200px;}
}
@media only screen and (max-width: 380px) {
.icons-block_list li .icons-block_cell { width: 50px;}
.pagetitle {font-size: 26px;}
}
@media only screen and (max-width: 350px) {
.main-index_title {font-size: 30px; line-height: 32px;}
.main-index_introtext {font-size: 16px;}
}